*{
    margin: 0;
    padding: 0;
}

/* Sidebar Toggle */ 
.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: #ababab;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
}

.sidebar-toggle span {
    display: block;
    width: 100%;
}
  
.sidebar.hidden {
    display: none;
}
  
/* Sidebar */ 
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #ababab;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 17px;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
    text-decoration: none;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}
  
/* Top header */ 
.header {
    height: 60px;
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.tasks-container {
    position: relative;
    padding-top: 50px;
}

/* User profile */
.user-profile {
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 0 20px;
    background-color: #f2f2f2;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

/* Username */
.username {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e6eBed;
    background-position: center;
}

/* Add assignment form css */
.add-assignment {
    width: 320px;
    background: #ffffff;
    color: #666666;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 50px auto 0;
    font-family: "Montserrat", sans-serif;
}

.add-assignment h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.add-assignment label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-bottom: 10px;
}

.add-assignment form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

.add-assignment input[type="text"],
.add-assignment input[type="number"],
.add-assignment select {
    width: 100%;
    border: none;
    border: 1px solid #666666;
    border-radius: 5px;
    background: transparent;
    outline: none;
    padding: 12px;
    color: #666666;
    font-size: 16px;
}

.add-assignment input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    width: 50%;
    background: rgb(0, 94, 209);
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.add-assignment input[type="submit"]:hover {
    background: rgb(0, 143, 209);
}

.add-assignment a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.add-assignment a:hover {
    color: rgb(0, 94, 209);
}
